.conjunto_redes{
    @include flex (flex, center, center);
    background-image: url(../img/fondo_contactos.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    .redes li{
        @include flex (flex, center, center);
        margin: 10px;
        img{
            width: 100px;
        }
        p{  
            @include flex (flex, center, center);
            font-family: "Madimi One", sans-serif !important;
            font-size: 20px;
            color: #FC0D8C;
            background-color: #FFE337;
            width: 250px;
            height: 70px;
            padding:0;
            margin: 0px 0px 0px 20px;
            border-radius: 10%;
        }
        
    }
    .imagen_redes {
        display: flex;
        justify-content: center;
        img{
            width: 75%;
            }
    }
} 
footer {
    a{  
        color: #FC0D8C;
        text-align: center;
        font-size: 100px;
        font-family: "Honk", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0;
    }
}
.formulario{
    padding: 0 100px 0 100px;
    .mb-3 {
        font-family: "Madimi One", sans-serif !important;
        font-size: 20px;
        color: black;
    }
    .d-grid{
        border-color: none !important;
        .btn{
            background-color: #FFE337 !important;
            border-color: none !important;
            font-family: "Madimi One", sans-serif !important;
            font-size: 20px;
            color: black;
            &:hover{
                background-color: white !important;
                color: #FC0D8C;
                transition-duration: 0.5;
                } 
            }
    }
}