footer{
    ul {
        @include flex (flex, space-between, center);
        list-style: none;
        @extend %marg_pad;
        li{
            display: flex;
            justify-content: space-between;
            p {
            @include flex (flex, center, center);
            font-size: 100px;
            font-family: "Honk", system-ui;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            @extend %marg_pad;
            }  
            a {
                @extend %marg_pad;
                img {
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    height: 100px;
                    }
            }
        }
        
    }
}