footer{
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        font-family: "Honk", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
        justify-content: center;
        align-items: center;
        display: block;
        display: flex;
        padding: 0;
        a {
            margin: 0;
            padding: 0;
            img {
                justify-content: center;
                align-items: center;
                margin: 10px;
                height: 100px;
            }
        }
    }
}