/*--------------nav*/

@media screen and (max-width: 1380px) {
    nav {
        flex-direction: column;
        img{
            width: 50px;
        }
    }
}

/*-------------index*/

@media screen and (max-width: 1100px) {
    .portada {
        justify-content: end;
        background-position: left;
        h2 {
            font-size: 100px;
            font-weight: 200;
            position: relative;
            bottom: 20px;
        }
        h3 {
            font-size: 30px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.753);
        }
    }

    .principal{
        flex-direction: column;
        align-items: center;
        .tarjeta {
        margin: 15px;
        width: 350px;
    }
    }
    
    .about_me {
        flex-direction: column;
        align-items: center;
        div p {
            padding: 20px;
        }
        img {
            margin-bottom: 30px;
            padding: 0;
        }
    }
}

/*--------Gallery*/


@media screen and (max-width: 1000px) {
    .encabezado {
        background-color: #FF97EC;
        h1 {
            font-size: 100px;
            color: #FC0D8C;
            align-items: flex-end;
            background-size: contain;
            background-image: url(../img/galeria_movil.jpg);
            background-repeat: no-repeat;
        }
    }

    .galeria {
        flex-direction: column;
        align-items: center;
        img {
            width: 100%;
            padding: 10px;
        }
    }

    .sector_comentarios {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .contenedor_tarj_coment{
            flex-direction: column;
            .tarjeta_comentario {
                margin: 10px;
            }
        }
    }   
}


@media screen and (max-width: 1380px){
    .conjunto_redes{
        background-image: none;
        .imagen_redes img{
            display: none;    
        }
    }
    .formulario{
        padding: 10px;
    }
}

@media screen and (max-width: 1380px) {

    .comics {
        h2 {
            font-size: 60px;
            align-items: end;
        }   
    }

    .grid_pos .contenedor_tarjeta_hist{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 1380px){
    footer{
            position: relative;
            bottom: 50px;
        ul {
            flex-direction: row;
            justify-content: space-around;
            li{
                justify-content: space-around;
                p {
                display: none;
                }  
                a {
                    margin: 0;
                    padding: 0;
                    img {
                        height: 70px;
                        }
                }
            }
            
        }
    }
}