.navbar {
    img{
        width: 70px;
    }
    .nav-link {
        text-decoration: none;
        outline: none;
        font-family: "Madimi One", sans-serif !important;
        font-size: 20px;
    }
}